[Unit]
Description=Torque2Warp10
 
[Service]
Type=simple
User=debian
Group=debian
LimitNOFILE=infinity
LimitMEMLOCK=infinity
Restart=always
RestartSec=3
ExecStart=/home/debian/go/bin/Torque2Warp10
Environment=WARP10_ENDPOINT=https://warp10.example.org
Environment=WARP10_TOKEN=abcd
Environment=ALLOWED_USERS=warp10@example.org

[Install]
WantedBy=multi-user.target